## Case Study on Testing of Hypothesis using Sales_add dataset

## Import the necessary libraries:

In [1]:
import numpy as np
import pandas as pd

In [3]:
import scipy.stats as stats

## Load the sales_add dataset and named as df

In [4]:
df = pd.read_csv(r"C:\Users\Radhika K J\Downloads\Sales_add.csv")

In [5]:
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

## Extract the Relevant Data for a Hypothesis Test:

In [20]:
sales_before = df['Sales_before_digital_add(in $)'].values
sales_after = df['Sales_After_digital_add(in $)'].values

## To check whether there is any increase in sales or not:

# Null Hypothesis: There is no increase in sales
# Alternate Hypothesis : There is an increase in sales

In [8]:
t_stat,p_val = stats.ttest_rel(sales_before,sales_after)

In [17]:
print(f"T_statistic: {t_stat}")
print(f"P_Value: {p_val}")

T_statistic: -12.09070525287017
P_Value: 6.336667004575778e-11

In [13]:
if p_val<0.05:
    print('There is an increase in sales')
else:
    print('There is no increase in sales')

There is an increase in sales

## To check whether there is any dependency between the features “Region” and “Manager”.

Import chi square libraries

In [14]:
from scipy.stats import chi2_contingency

## Null Hypothesis : There is no dependency between Region and Manager
## Alternate Hypothesis : There is dependency between Region and Manager

In [15]:
contingency_table = pd.crosstab(df['Region'],df['Manager'])

In [16]:
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

In [18]:
print(f"Chi-square statistic: {chi2}")
print(f"P-value: {p_value}")

Chi-square statistic: 3.050566893424036
P-value: 0.5493991051158094

In [19]:
if p_value<0.05:
    print('There is  dependency between Region and Manager')
else:
    print('There is no dependency between Region and Manager')

There is no dependency between Region and Manager